/* 主任務樣式 */
li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    list-style-type: none;
    position: relative;
    border: 1px solid #ddd;
}

li.completed {
    text-decoration: line-through;
    background-color: #d4edda;
}

button {
    margin-left: 5px;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button.delete, button.deleteSubtask {
    background-color: #dc3545;
}

button.addSubtask {
    background-color: #007bff;
}

button.completeSubtask {
    background-color: #28a745;
}

/* 子任務樣式 */
.subtasks span {
    margin-right: 15px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
}

.subtasks {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
